@font-face {
    font-family: 'nazanin';
    src: url(./B-NAZANIN.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: auto;
    font-family: 'nazanin';
    transition: .1s linear;
}

body {
    padding: 0 10px;
    background: #efe6fa;
}

header {
    height: 60px;
    background: #433766;
    margin: 10px 0;
    margin-bottom: 0;
}

.corner {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 200px;
    height: 100px;
    background: #433766;
}

.corner .white_paper {
    width: 100%;
    height: 100%;
    background: #efe6fa;
    border-radius: 100% 0 0 0;
    border: none;
}

.elements {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: calc(100% - 20px);
    box-sizing: content-box;
    top: 70px;
    height: 100%;
}

#profile {
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    height: 650px;
    background: #b086e0;
    top: 100px;
    border-radius: 70px 10px;
    box-shadow: 0 5px 20px .5px black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px;
    position: relative;
}

#profile .picture {
    width: 162.5px;
    height: 162.5px;
    background: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

#profile .picture img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.name {
    width: 80%;
    box-sizing: content-box;
    padding: 0 5px 5px 5px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin: 5px 0;
}

.discribtion {
    width: 80%;
    height: calc(100% - 300px);
    background-color: #c297f4;
    margin-top: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px;
    font-size: large;
    direction: rtl;
}

.contact {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact * {
    text-decoration: none;
    color: black;
}

.contact>* {
    border: 3px solid black;
    box-sizing: content-box;
    padding: 4px;
    border-radius: 20px;
}

.contact #telegram {
    margin-right: 15px;
}

.contact #github {
    margin-left: 15px;
}

.contact *:hover {
    transform: scale(0.9);
}

.red-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 100%;
}

.circle1 {
    top: 80px;
    left: 70%;
}

.circle2 {
    top: 300px;
    left: calc(20% - 100px);
}

.circle3 {
    top: 500px;
    left: 90%;
}

.circle4 {
    top: 600px;
    left: 20%;
}
