* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background: white;
    padding: 0 10px;
}

header {
    height: 60px;
    background: #233d4b;
    margin: 10px 0;
    margin-bottom: 0;
}

header .corner {
    position: fixed;
    top: 70px;
    left: 10px;
    width: 200px;
    height: 100px;
    background: red;
    background: #233d4b;
}

header .corner .white_paper {
    width: 100%;
    height: 100%;
    background: blue;
    background: white;
    border-radius: 100% 0 0 0;
}

#profile {
    width: 325px;
    height: 500px;
    background: #b086e0;
    position: relative;
    top: 100px;
    left: calc(50% - 162.5px);
    border-radius: 70px 10px;
    box-shadow: 0 5px 20px .5px black;
}